<div class="mb-3 text-center">
  <h1>Forgot your password?</h1>
</div>

<%= form_with url: password_reset_path do |form| %>
  <div class="shadow p-3 my-5 bg-body rounded">
    <!-- form fields -->
    <div class="mb-3">
      <%= form.label :email %>
      <%= form.text_field :email, autofocus: true, class: "form-control", placeholder: "user@email.com", :required => "required" %>
    </div>
  </div>
    
  <div class="d-flex justify-content-center">
    <!-- submit button -->
    <div class="mb-3">
      <%= form.submit "Reset Password", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
  