<div class="mb-3 text-center">
  <h1>Tweets</h1>
</div>

<div class="d-flex align-items-end flex-column mb-3">
  <% if Current.user.twitter_accounts.any? %>
    <%= link_to "Schedule a Tweet", new_tweet_path, class: "btn btn-primary" %>
  <% end %>

  <% if Current.user.twitter_accounts.none? %>
    <%= button_to "Connect a Twitter account", "/auth/twitter", method: :post, :data => { turbo: "false" }, class: "btn btn-primary" %>
  <% end %>
</div>

<%= render @tweets %>
